.section{
    padding: 80px 0;
    &-bg-light{
        background: $lightGrey;
    }
    &-bg-blue{
        background: $mainBlue;
    }
}

.d-block{
    display: block;
}

.p-b-0{
    padding-bottom: 0;
}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}