.large-hero {
    position: relative;

    &__title {
        font-size: 1rem;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: .5px;
        color: $steelBlue;

        @mixin smallScreen {
            font-size: 1.2875rem;
        }

        @mixin mediumScreen {
            text-transform: uppercase;
        }

        @mixin extraLargeScreen {
            font-size: 2rem;
        }
    }

    &__text-content {
        position: absolute;
        left: 5%;
        top: 45%;
        transform: translateY(-50%);

        @mixin extraLargeScreen {
            top: 45%;
            left: 10%;

        }

        &__strip-title {
            padding: .8rem 1.3rem;
            border-radius: 0.375rem 0.375rem 0 0;
            background-color: $mainBlue;
            display: inline-block;
            text-transform: uppercase;
            font-weight: 900;
            color: $white;
            letter-spacing: 1px;
            font-size: .65rem;
            margin-bottom: 0;

            @mixin mediumScreen {
                padding: 1rem 1.8rem;
            }

            @mixin largeScreen {
                padding: 1.25rem 2.5rem;
                font-size: 0.85rem;
            }

        }

        &__text {
            background-color: $white;
            width: 50%;
            padding: 1.125rem 1.5rem;
            border-radius: 0 6px 6px 6px;

            @mixin mediumScreen {
                padding: 1.5rem 1.6rem;
            }

            @mixin extraLargeScreen {
                padding: 3.125rem 2.5rem;
            }
        }
    }

    &__subtitle {
        font-size: .85rem;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: .5px;
        margin-top: 0;
        margin-bottom: .625rem;
        color: $steelBlue;

        @mixin smallScreen {
            font-size: 1.25rem
        }

        @mixin mediumScreen {
            font-size: 1.5rem;
            text-transform: uppercase;
        }

        @mixin largeScreen {
            font-size: 1.75rem;
        }

        @mixin extraLargeScreen {
            font-size: 2rem;
        }
    }

    &__feature-list {
        list-style: circle;
        margin-left: -1.3rem;
        color: $grey;
        display: none;

        &__item {
            line-height: 1.5;
            margin-bottom: .625rem;

            @mixin mediumScreen {
                line-height: 1.5r;
            }
        }

        @mixin smallScreen {
            display: block;
            font-size: 0.8rem;
        }

        @mixin mediumScreen {
            color: $grey;
            font-size: 1rem;
        }
    }
}
