.modal {

    position: fixed;
    z-index: 99999;
    background-color: rgba(255, 255, 255, .93);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(1.3);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;


    &-is-visible {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }

    &-close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2rem;
        transform: scaleX(1.3);
        font-weight: 500;
        color: $mainBlue;
        cursor: pointer;
        transition: color .3s ease-in-out;

        &:hover {
            color: $steelBlue;
        }
    }

    &-inner {
        position: absolute;
        width: 100%;
        top: 10%;
    }

}
